
    <div class="buttons">
        <input type="checkbox" [id]="contact.id" [checked]="contact.important" (change)="makeImportant()">
        <label [for]="contact.id"></label>
    </div>
        <div class="contact-container">
            <span class="contact-item-field" >{{contact.lastName}}</span>
            <span class="contact-item-field" >{{contact.firstName}}</span>
            <span class="contact-item-field" >{{contact.patronym}}</span>
            <span class="contact-item-field" >{{contact.phone}}</span>
        </div>
        <button (click)="deleteContact()">Удалить</button>

    

    
