<div>
    <form [formGroup]="contactsForm" (ngSubmit)="addContact()" class="form-container">
        <div class="container">
            <div class="form-input">
                    <label for="lastName" class="form-label">Фамилия:</label>
                    <input type="text" formControlName="lastName">
                    <app-validation-error 
                        *ngIf="contactsForm.get('lastName').touched && contactsForm.get('lastName').invalid" 
                        [errorText]="'укажите фамилию'">
                    </app-validation-error>
                </div>
                <div class="form-input">
                    <label for="firstName" class="form-label">Имя:</label>
                    <input type="text" formControlName="firstName">
                </div>
                <div class="form-input">
                    <label for="patronym" class="form-label">Отчество:</label>
                    <input type="text" formControlName="patronym">
                </div>
                <div class="form-input">
                    <label for="phone" class="form-label">Телефон:</label>
                    <input type="text" formControlName="phone" placeholder="+0 999 99 99">
                    <app-validation-error 
                    *ngIf="contactsForm.get('lastName').touched && contactsForm.get('lastName').invalid" 
                    [errorText]="'укажите укажите телефон в правильном формате'">
                </app-validation-error>
                </div>
                <button type="submit" [disabled]="contactsForm.invalid" (click)="addContact()"></button>
                <app-validation-error *ngIf=contactsForm.invalid [errorText]="'Все поля дожны быть заполнены'"></app-validation-error>
        </div>

        
    </form>
</div>
<hr>
