

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex: 9; */
    align-items: center;
}
.form-input {
    display: flex;
    flex-direction: column;
}
.form-label {
    text-align: start;
}
input {
    border-style: none;
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    margin: 2%;
    padding: 3px;
}
button[type=submit] {
    border-style: none;
    background-image: url(../../../../assets/img/add_new.png);
    background-size: 100%;
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
}
/* button[type=submit]:disabled {
    background-image: url(../../../../assets/img/disabled_add.png);
    
} */